h1{
    color: #0a40ee
}
/**{
    border: solid;
}*/
.header{
    background-color: #07165A ;
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
p,h2{
     text-align: center;
}
body{
    background-color: #808080;
}